@charset "UTF-8";

html{
    box-sizing: border-box;
}

*::after,
*::before{
    box-sizing: inherit;
}
li{
    list-style-type: none;
}
a{
    display: block;
    border: 1px solid;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    margin: 0.5em;
    text-decoration: none;
}
#logo {
    width: 100px;
}

button{
    padding: 0.5em;
    border-radius: .5em;
    background-color: #3882F6;
    border: solid white;
}

/** typografias**/
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

a, header p{
    font-size: 18px;
 color: #E5E7EB;
}
h2{font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

blockquote{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}
/**color fondo**/
header, footer{
    background-color: #1F2937;
}
/** navbar**/
ul{
    display: flex;
    justify-content: center;
}
li.logo{
    margin-right: auto;
}

#navbar{
    padding: 0 3em;
}
/** hero**/
/**
#hero{
    display: flex;
    gap: 20em;
    padding: 3em 5em;
    justify-content:space-around;
    align-items: center;
}
/**
#herotext{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 50%;
}
**/
#hero {
    display: block;
    position: relative;
    padding-bottom: 5em;
}
#herotext{
    display: block;
    width: 40%;
    padding-left: 6em;
}
#heroimage{
    width: 400px;
    position: absolute;
    top: 1em;
    right: 5em;
    border-radius: 1em;
}

#hero button{
    align-self: flex-start;
}

.container{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;  
}

#info{
    padding: 1em 5em 3em 5em;
}


#info h2{
    display: block;
    position: relative;
    width:max-content;
    left: 10em;
}
.prod{
    border: 3px solid #3882F6;
    border-radius: .5em;
    width: 240px;
    padding: .5em;
    display: flex;
    flex-direction: column;
    flex: auto;
}

#quote{
    display: block;
    padding: 2em 3em;
    background-color: #E5E7EB;
}
#quote .autor{
    font-weight: bold;
    position: absolute;
    left: 90%;
}
#accion{
    padding: 2em 4em;
    margin: 4em 8em;
    background-color: #3882F6;
    border-radius: 1em;
    position: relative;
}

#accion button{
    display: block;
    padding: 0.5em 1em;
    border: solid white;
    border-radius: .5em;
    position: absolute;
    top: 5em;
    right: 10em;
}

footer {
    display: block;
    padding: 1em 20em;
}

footer p{
    display: block;
    position: relative;
    left: 200px;
}