@charset "UTF-8"

html{
    box-sizing: border-box;
}

*::after,
*::before{
    box-sizing: inherit;
}
li{
    list-style-type: none;
}
a{
    display: block;
    border: 1px solid;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    margin: 0.5em;
    text-decoration: none;
}
#logo {
    width: 100px;
}

button{
    padding: 0.5em;
    border-radius: .5em;
    background-color: #3882F6;
    border: solid;
}

/** typografias**/
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

a, header p{
    font-size: 18px;
 color: #E5E7EB;
}
h2{font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

blockquote{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}
/**color fondo**/
header, footer{
    background-color: #1F2937;
}
/** navbar**/
ul{
    display: flex;
    justify-content: center;
}
li.logo{
    margin-right: auto;
}
/** hero**/
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
#herotext{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 50%;
}